# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
package-lock.json
**/.npmrc
/dist-electron

# dependencies
/node_modules
/dist/
/.pnp
.pnp.js
electron-builder.json5

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated API definitions
electron-api.json
electron.d.ts

# Shared objects (inc. Windows DLLs) 
 *.dll 
 *.so 
 *.so.* 
 *.dylib 
  
# Executables 
 *.exe 
 *.out 
 *.app 
 *.i*86 
 *.x86_64 
 *.hex 
  
.vscode/settings.json